/* .slick-prev,
.slick-next {
	top: 40%;
	background-color: transparent;
}

.slick-prev::before,
.slick-next::before {
	font-size: 40px;
	color: #f0284a;
}

.slick-prev {
	left: -40px;
}

.slick-dots {
	bottom: -40px !important;
}

.darkmode .slick-dots li button::before {
	color: white !important;
} */
.slick-prev:before,
.slick-next:before {
	font-size: 0px;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	background: white;
}
