@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
		--background-global: #22262f;
	}
} */
* {
	padding: 0px !important;
	margin: 0px;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
body {
	/* background: linear-gradient(
    180deg,
    rgba(var(--background-start-rgb), 1) 0%,
    rgba(var(--background-end-rgb), 1) 100%
  ); */
}
html,
body {
	overflow-x: unset !important;
	overflow-y: unset !important;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
